.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.login-form__title {
    font-size: 2em;
    margin: 20px 0;
    font-weight: 300;
}

.login-form__input {
    min-height: 40px;
    padding: 0;
    border: 0px;
    flex: 2 0;
    border: 1px solid #d6d8dc;
    border-radius: 4px;
    font-size: 16px;
    color: #323c52;
    text-indent: 12px;
    margin-bottom: 10px;
}

.login-form__input-name ::placeholder {
    font-size: 16px;
    color: #adb1ba;
    text-indent: 12px;
}

.login-form__button {
    -webkit-appearance: none;
    border: 0;
    height: 40px;
    border-radius: 4px;
    background: #5aa8ac;
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}
