<h2>Welcome {{ userName }}</h2>

<form class="search">
    <div class="search__wrapper">
        <input
            id="coordinates"
            name="coordinates"
            type="text"
            class="search__input"
            placeholder=""
            [(ngModel)]="userCoordinates"
            required
        />
        <ejs-daterangepicker strictMode='true' placeholder='Select a range' 
        (renderDayCell)="onLoad($event)"
        (change) = "datesSelected($event)"></ejs-daterangepicker>
        <button type="submit" class="search__submit" (click) = "search()">Search</button>
    </div>
</form>
