.search{
    display: flex;
    justify-content: center;
}

.search__wrapper{
    display: flex;
    width: 50%;
}
.search__input {
    min-height: 40px;
    padding: 0;
    border: 0px;
    flex: 2 0;
    border: 1px solid #D6D8DC;
    border-radius: 4px;
    font-size: 16px;
    color: #323C52;
    text-indent:12px;
}

.search__submit, .properties__list-item-action-button {
    -webkit-appearance: none;
    border: 0;
    height: 40px;
    border-radius: 4px;
    background: #5AA8AC;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 20px;
}

.properties {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties__list{
    list-style: none;
    display: flex;
    background: #fff;
    padding: 15px;
    width: 50%;
}

.properties__list-item-action {
    display: flex;
    flex-grow: 1;
}

.properties__list-item-action-button{
    align-self: flex-end; 
    margin: 0;
}

.properties__list-details {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    flex-grow: 1;
}

.properties__list-item-icon{
    background: url('../../../assets/img/map-view.png');
    opacity: 0.5;
    background-size: cover;
    width: 250px;
    height: 150px;
}

:host ::ng-deep .e-date-range-wrapper {
    height: 40px;
    margin-bottom: 0px;
}